<div class="article">
  <p class="blog-post-meta update_font"><%= @article.updated_at.strftime('%Y/%m/%d') %></p> 
  <div class="d-flex w-100 justify-content-between article_title">
    <h3><strong><%= @article.title %></strong></h3>
  </div>
  <p><%= @article.body.html_safe %></p>
</div>

<hr>

<h5>Comments</h5>
<%= render @article.comments %>

<h5>Add a comment:</h5>
<%= render 'comments/form' %>

<%= link_to 'index', articles_path %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>